{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <div class="d-flex align-items-center">
            <div class="mx-auto">
                <h2 class="featurette-heading">Un savoir faire unique <span class="text-muted">qui vous laissera sans voix</span>
                </h2>
                <p class="lead">
                    Nos chefs talentueux et passionnés ont perfectionné leur art culinaire pour offrir à nos clients une 
                    expérience gastronomique inoubliable. Chaque détail est soigneusement étudié pour créer une harmonie parfaite de 
                    saveurs et de textures.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <img src="{{ asset('assets/images/home/le_special_au_chocolat.jpg') }}" class="img-fluid mx-auto" alt="Le special au chocolat">
    </div>
</div>


<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2 d-flex align-items-center">
        <div class="mx-auto">
            <h2 class="featurette-heading">Des ingrédients de qualité<span class="text-muted"> issue de l'agriculture locale</span></h2>
            <p class="lead">
                Nous sommes fiers de proposer des ingrédients de qualité provenant de l'agriculture locale.
                C'est pourquoi nous nous approvisionnons en fruits, légumes, viandes et poissons auprès de producteurs locaux de 
                confiance.
            </p>
        </div>
    </div>
    <div class="col-md-5 order-md-1 my-auto">
        <img src="{{ asset('assets/images/home/veggies.jpg') }}" class="img-fluid mx-auto" alt="Légumes frais">
    </div>
</div>
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <div class="d-flex align-items-center">
            <div class="mx-auto">
                <h2 class="featurette-heading">Un personnel dévoué <span class="text-muted">et qualifié</span></h2>
                <p class="lead">
                    Nous sommes fiers de compter sur une équipe de professionnels passionnés, formés et expérimentés. Nous sommes à 
                    l'écoute de vos besoins et nous nous efforçons de fournir un service chaleureux et attentionné pour que vous 
                    puissiez passer un moment agréable en notre compagnie.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <img src="{{ asset('assets/images/home/cuisinier.jpg') }}" class="img-fluid mx-auto" alt="Cuisinier">
    </div>
</div>


<hr class="featurette-divider">
{% endblock %}