body {
    position: relative;
}

.navbar-custom,
.btn-custom {
    background-color: #BA0F30;
}

.navbar-custom .nav-link,
.btn-custom {
    color: #fff;
}

.navbar-item-custom,
.navbar-item-custom a {
    color: #fff;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.meal-container {
    margin-bottom: 150px;
}

.meal-item .meal-price {
    font-weight: bold;
}

.table-small {
    width: 50%;
    font-size: 14px;
}

.footer-custom {
    /*text-align: center;*/
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    background-color: #BA0F30;
    padding-top: 25px;
}