{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center">Menu du marché</h2>
                <ul class="list-group">
                    {% for restaurantCard in restaurantCards %}
                        <li class="list-group-item d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h4>{{ restaurantCard.title }}</h4>
                                <h6>{{ restaurantCard.subtitle }}</h6>
                                <p>{{ restaurantCard.description }} | <span class="meal-price">{{restaurantCard.price / 100 |number_format()}} €</span></p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
